In [1]:
"""
Connecting to the database with sqlalchemy.
"""
import os
import sys
sys.path.append("../src")
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sqlalchemy import select, column
from data.database_connection import Database

In [2]:
project_dir = os.path.join(os.path.dirname('__file__'), os.pardir)
dotenv_path = os.path.join(project_dir, '.env')

In [3]:
db = Database(dotenv_path)

In [69]:
df_grouped = df[["product_id", "weight"]].groupby(["product_id"]).sum()
df_grouped.reset_index()
df_grouped.sort_values(by="weight", ascending=False).head(20)

            weight
product_id
24852         1542
13176         1244
21903          705
21137          658
47209          609
47766          488
27845          443
16797          422
47626          410
28204          382
26209          375
24964          353
49683          350
22935          338
27966          329
45007          304
39275          303
40706          284
17794          268
19057          264